/transformers
/data/raw
/data/add
/data/clean
/data/all
/data/gpt2_cached*
/data/token.pickle
/runs
/weights
/cache
nohup.out
credentials.json

# vim
[._]sw[a-p]
[._]*.sw[a-p]

# python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
__pypackages__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
